

.climate_page{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    max-height: 100vh; 
    max-width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;
  
}

    .title_info{
        grid-row: 1;
        grid-column: 2/13;
        margin: 0%;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        font-size: 3.75rem;
        font-weight: bold;
        color: rgb(50, 50, 50);
        animation: room_selection 1000ms;
    }
        .climate_page .btn_selected{
            width: 4.75rem;
            height: 4.75rem;
        }

    /*
    ----------------------------------------------------------------------------------- Area where climate is being displayed
    */  
    
    .climate_dashboard_container{
        grid-column: 2/13;
        grid-row: 2/9;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .containment{
            width: 70%;
            height: 85%;
        }
    
