
.light_dashboard{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;
}

/*
---------------------------------------------------------------------------------
*/


    .light_dashboard .light_container{
        grid-row: 2/9;
        grid-column:2/13;

        height: 100%;
        width: 100%;
        z-index: 0;

        background-color: transparent;

        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        
        overflow-y: scroll;

    }


/*
--------------------------------------------------------------------------------------- zones 
*/


.zone_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(70, 70, 70, 0.55);
        backdrop-filter: blur(25px);
    padding: 10px;
    border-radius: 10px;
}

.zone_title{
    margin: 0%;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 100;
    
}
    .light_wrapper{
        width: 100%;
        display: flex;
        justify-content:  flex-start;
     align-items: center;
        gap: .4rem;
        flex-wrap: wrap;
    }
        .light_wrapper .light_tile{
            height: 12rem;
            width: 12.5rem;
            background-color: rgb(70,70,70);
            box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5) , -2px -2px 5px rgba(0, 0, 0, 0.95);

        }
            .light_wrapper .light_info .light_name{
             font-size: large;
            }

            .light_wrapper .light_controls .btn_circle{
                height: 3.5rem;
                width: 3.5rem;
            }




    @media only screen and (max-device-width: 430px) and (max-device-width: 837px) and (orientation: portrait){
        .light_dashboard{
          
                grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;
        
        }

        .title_info{
            font-size: x-large;    
            bottom: 1.25rem;
    
        }

        /*
        ---------------------------------------------------------------------------------------- light container 
        */
    

        .light_dashboard .light_container{
            grid-column: 1/13;
            grid-row: 2/8;
         
        }
        .zone_title{
            text-align: center;
            color: white;
        }
        .light_wrapper{
            justify-content: center

        }
        .light_dashboard .light_tile{
            height: 9.5rem;
            width: 48%;
            background-color: rgb(70,70,70);
        }

    
        


    }