
.light_dashboard{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;
}





/*
--------------------------------------------------------------------------------- map container
*/


.light_map_container{
    
    grid-column: 2/13;
    grid-row: 2/9;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    justify-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(20px);
}
    .light_map_container::before{
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(70, 70, 70);
        opacity: 0.65;
        z-index: 0;
        border-radius: 20px;
    
    }
/*
------------------------------------------------------------------------------------------------------------------------------------ Map one
*/

.map_layout_1{
    grid-column: 2/9;
    grid-row: 1/10;
    height: 100%;
    overflow: hidden;
    position: relative;
}
    .map_layout_1_active{
        grid-column: 1/8;
        grid-row: 1/10;
        height: 100%;
        overflow: hidden;
        position: relative;
        animation: light_map_shift 1s;
    }
        .map_layout_1_closing{  
            grid-column: 2/9;
            grid-row: 1/10;
            height: 100%;
            overflow: hidden;
            position: relative;
            animation: light_map_closing 900ms;
        }

.floor_1_img{
    filter: invert(1);
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.btn_location_1{
    height: 3.7rem;
    width: 3.75rem;
    position: absolute;
    left: 440px;
    top: 325px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    
}
    .light_icon_z1{
        position: relative;
        top: 5px;
        left: 4px;
        background-color: rgb(243, 84, 84);;        
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        

    }
    
.btn_location_2{
    background-color: transparent;
    height: 4rem;
    width: 6.5rem;
    position: absolute;
    left: 420px;
    top: 260px;
    border-radius: 10px;
    border: none;
 }
    .light_icon_z2{
        position: relative;
        background-color: rgb(243, 84, 84);;        
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        left: -28px;
        top: 20px;
        

    }

 .btn_location_3{
    background-color: transparent;
    height: 4.5rem;
    width: 5rem;
    position: absolute;
    left: 610px;
    top: 375px;
    border-radius: 10px;
    border: none;

 }
    .light_icon_z3{ 
        background-color: rgb(243, 84, 84);;
        position: relative;
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        top: 10px;
        left: 0px;
        
    }

 .btn_location_4{
    height: 5rem;
    width: 2.5rem;
    position: absolute;
    left: 620px;
    top: 440px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
 }
    .light_icon_z4{ 
        background-color: rgb(243, 84, 84);;
        position: relative;
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        right: 15px;
       
        
        
    }
    

 .btn_location_5{
    height: 5.5rem;
    width: 4rem;
    position: absolute;
    left: 540px;
    top: 470px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
 }
    .light_icon_z5{ 
        background-color: rgb(243, 84, 84);;
        
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        right: 0px;
        top: 15px;
    }

 .btn_location_6{
    height: 3rem;
    width: 6.5rem;
    position: absolute;
    left: 655px;
    top: 450px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    
 }
    .light_icon_z6{
        background-color: rgb(243, 84, 84);;        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        right: 32px;
        bottom: 10px;
     
    }

 .btn_location_7{
    height: 5.5rem;
    width: 6.1rem;
    position: absolute;
    left: 500px;
    top: 310px;
    border-radius: 10px;
    border: none;
    background-color: transparent
 }
    .light_icon_z7{

        background-color: rgb(243, 84, 84);;        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        top: 6px;
        left: -15px;
    }

 .btn_location_8{
    height: 8.5rem;
    width: 3rem;
    position: absolute;
    left: 495px;
    top: 430px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
 }
    .light_icon_z8{

        background-color: rgb(243, 84, 84);;        
        height: 2.25rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        top: 4px; 
        left: 2px;
    }

 .btn_location_9{
    height: 5.5rem;
    width: 4.75rem;
    position: absolute;
    left: 540px;
    top: 386px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
 }
    .light_icon_z9{

background-color: rgb(243, 84, 84);;        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        bottom:15px; 
    }
 .btn_location_10{
    height: 5.5rem;
    width: 6rem;
    position: absolute;
    left: 405px;
    top: 445px;
    border-radius: 10px;
    border: none; 
    background-color: transparent;
 }
    .light_icon_z10{
        background-color: rgb(243, 84, 84);;
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        top:10px;
        left: 5px; 
    }
 .btn_location_11{
    height: 5.5rem;
    width: 4rem;
    position: absolute;
    left: 347px;
    top: 415px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
 }
    .light_icon_z11{
        background-color: rgb(243, 84, 84);;
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        top:25px;
        left:0px; 
    }
 .btn_location_12{
    height: 3.25rem;
    width: 6.5rem;
    position: absolute;
    left: 400px;
    top: 400px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    
 }
 .light_icon_z12{
    background-color: rgb(243, 84, 84);;
    height: 2.5rem;
    box-shadow: 0px 0px 10px;
    border-radius: 100%;
    
    position: relative;
    top:0px;
    right: 30px; 
}
    




 .btn_location_13{
    height: 5.5rem;
    width: 5.5rem;
    position: absolute;
    left: 350px;
    top: 320px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    
 }
    .light_icon_z13{
        background-color: rgb(243, 84, 84);;
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        
        position: relative;
        bottom: 25px;
        right: 14px;
      
    }
        

 .btn_location_14{
    height: 12rem;
    width: 14rem;
    position: absolute;
    left: 525px;
    top: 385px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    
 }
 .light_icon_z14{
    background-color: rgb(243, 84, 84);
    height: 2.5rem;
    box-shadow: 0px 0px 10px;
    border-radius: 100%;
    
    position: relative;
    top:15px;
    right: 0px;
  
}
    
 

 .btn_location_15{
    height: 5.5rem;
    width: 7.5rem;
    position: absolute;
    left: 655px;
    top: 490px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
 }
    .light_icon_z15{
        background-color: rgb(243, 84, 84);
        height: 2.5rem;
        box-shadow: 0px 0px 10px;
        border-radius: 100%;
        position: relative;
        top:10px;
        right: 0px;
    }
 


    .btn_location_16{
        height: 7rem;
        width: 14rem;
        position: absolute;
        left: 135px;
        top: 380px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
     }
        .light_icon_z16{
            background-color: rgb(243, 84, 84);
            height: 2.5rem;
            box-shadow: 0px 0px 10px;
            border-radius: 100%;
            position: relative;
            top:30px;
            right: -4px;
        }
     

    .btn_location_17{
        height: 3rem;
        width: 14.65rem;
        position: absolute;
        left:570px;
        top: 140px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        }
        .light_icon_z17{
            background-color: rgb(243, 84, 84);
            height: 2.5rem;
            box-shadow: 0px 0px 10px;
            border-radius: 100%;
            position: relative;
            top:-40px;
            right: 43px;
        }
         
        .btn_location_18{
            height: 3rem;
            width: 10rem;
            position: absolute;
            left: 585px;
            top: 290px;
            border-radius: 10px;
            border: none;
            background-color: transparent;
            }
            .light_icon_z18{
                background-color: rgb(243, 84, 84);
                height: 2.5rem;
                box-shadow: 0px 0px 10px;
                border-radius: 100%;
                position: relative;
                top:-35px;
                right: 0px;
            }

            .btn_location_19{
                height: 3rem;
                width: 10rem;
                position: absolute;
                left: 370px;
                top: 530px;
                border-radius: 10px;
                border: none;
                background-color: transparent;
                }
                .light_icon_z19{
                    background-color: rgb(243, 84, 84);
                    height: 2.5rem;
                    box-shadow: 0px 0px 10px;
                    border-radius: 100%;
                    position: relative;
                    top:35px;
                    right: -7px;
                }
             
                .btn_location_20{
                    height: 3rem;
                    width: 16rem;
                    position: absolute;
                    left: 155px;
                    top: 250px;
                    border-radius: 10px;
                    border: none;
                    background-color: transparent;
                    }
                    .light_icon_z20{
                        background-color: rgb(243, 84, 84);
                        height: 2.5rem;
                        box-shadow: 0px 0px 10px;
                        border-radius: 100%;
                        position: relative;
                        top:2px;
                        right: -55px;
                    }
     



                    .btn_location_22{
                        height: 5.5rem;
                        width: 4.75rem;
                        position: absolute;
                        left: 125px;
                        top: 160px;
                        border-radius: 10px;
                        border: none;
                        background-color: transparent;
                     }

                    .light_icon_z22{
                        background-color: rgb(243, 84, 84);
                        height: 2.5rem;
                        box-shadow: 0px 0px 10px;
                        border-radius: 100%;
                        position: relative;
                        top:2px;
                        right: -55px;
                        
                    }
 

 #lightZoneActive{
    background-color: rgb(209, 209, 117);
    box-sizing: border-box;
    padding: 3px;
    animation: light_on 3s infinite ;
 }

 #lightZoneActiveSpecial{
    background: #FDB827;
    background: radial-gradient(circle, rgb(253, 184, 39) 0%, rgba(84, 37, 131) 100%);
    box-sizing: border-box;
    padding: 3px;
    animation: light_on 3s infinite ;
 }



/*
------------------------------------------------------------------------------------------------------------------------------------ Map Two
*/


.map_layout_2{
    grid-column: 1/10;
    grid-row: 1/10;
    height: 100%;
    overflow: hidden;
    position: relative;
}
    .map_layout_2_active{
        grid-column: 1/8;
        grid-row: 1/10;
        height: 100%;
        overflow: hidden;
        position: relative;
        animation: light_map_shift 1s;
    }
        .map_layout_2_closing{  
            grid-column: 2/9;
            grid-row: 1/10;
            height: 100%;
            overflow: hidden;
            position: relative;
            animation: light_map_closing 900ms;
        }



.floor_2_img{
    height: 100%;
    filter: invert(1);
}


/*
---------------------------------------------------------------------------------------------------------------------------- Out Doors
*/
  
.out_door_lighting{
    grid-column: 1/10;
    grid-row: 1/10;    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    justify-content: center;
    align-items: center;
} 
    .out_door_1{
        grid-column: 1/3;
        grid-row: 1/7;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
        .out_door_1 .button_list .btn_square{
            height: 4rem;
            width:  15rem;    
        }

    .out_door_2{
        grid-column: 3/5;
        grid-row: 1/7;
        width: 100%;
        height: 100%;
        z-index: 10;
    }   
        .out_door_2 .button_list .btn_square{
            height: 4rem;
            width:  15rem;    
        }

    .out_door_3{
        grid-column: 5/7;
        grid-row: 1/7;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    .out_door_3 .button_list .btn_square{
        height: 4rem;
        width:  15rem;    
    }
/*
-------------------------------------------------------------------------------------------------- light menu 
*/
.light_menu_closed{
    display: none;
}

.light_menu_open{
    grid-column: 8/10;
    grid-row: 1/10;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9,1fr);
    animation: light_menu_load 1s;
}


    .light_menu_closing{
        grid-column: 8/10;
        grid-row: 1/10;
        height: 100%;
        width: 100%;
        z-index: 100;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(9,1fr);
        animation: light_menu_closing 1s;
     
    }


/*
------------------------------------ buttons in light menu 
*/
    .light_menu_title{
        grid-column: 2/8;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button_list{
        box-sizing: border-box;
        padding: 10px;
        grid-column: 1/9;
        grid-row: 2/9;
     

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        
        height: 100%;
        width: 100%;
    }
 
   .button_list button{
        background-color: rgb(70, 70, 70);
        border: solid 1px rgb(128, 128, 128);
        width: 95%;
        height: 5rem;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        
    }

    .button_list button p{
        grid-column: 2/6;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button_list button img{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


/*
-------------------------------- closing menu 
*/    


.close_menu_btn{
    grid-column: 8/9;
    grid-row: 1;
  
    height: 100%;
    width: 100%;
}
    .close_menu_btn img{
        height: 100%;
        width: 100%;   
        position: relative;
        right: 10px;
        bottom: 20px; 
    }





@keyframes light_menu_load {

    0%{
       transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}


@keyframes light_map_shift{
    0%{
        transform: translateX(12%);
   
     }
 
     100%{
         transform: translateX(0%);
   
     }
}


@keyframes light_map_closing{
    0%{
        transform: translateX(-12%);
   
     }
 
     100%{
         transform: translateX(0%);
   
     }
}



@keyframes light_menu_closing{
    0%{
        transform: translateX(0%);
   
     }
 
     100%{
         transform: translateX(100%);
   
     }
}

@media only screen and (min-width: 776px) and (orientation: portrait){
    .light_dashboard{
        grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;
        }

    .light_map_container{
        grid-row: 2/8;
        grid-column: 1/13;
        
    }

    .floor_1_img{
        height: 55%;
    }


    /*
    --- light map 1
    */

    
    
    .floor_1_img{
        
        height: 75%;
        z-index: 0;
    }

    .map_layout_1{
        grid-column: 1/10;
        grid-row: 2/8;
        display: flex;
        justify-content: center;
        align-items: center;  
        position: relative;  
    }   
        .map_layout_1_active{
            grid-column: 1/10;
            grid-row: 1/7;
            display: flex;
            justify-content: center;
            align-items: center;  
            position: relative;    
            
            animation: light_map_shift_up 1s;
        }
            .map_layout_1_closing{  
                grid-column: 1/10;
                grid-row: 2/8;
                display: flex;
                justify-content: center;
                align-items: center;  
                position: relative;   
                animation: light_map_shift_down 1s;
            }
    


    /*
    --- light map 2
    */

    
    
    .floor_2_img{
        grid-row: 3/7;
        height: 75%;
    }

    .map_layout_2{
        grid-column: 1/10;
        grid-row: 2/8;
        display: flex;
        justify-content: center;
        align-items: center;  
        position: relative;     
    }   
        .map_layout_2_active{
            grid-column: 1/10;
            grid-row: 1/7;
            display: flex;
            justify-content: center;
            align-items: center;  
            position: relative;      
            animation: light_map_shift_up 1s;
        }
            .map_layout_2_closing{  
                grid-column: 1/10;
                grid-row: 2/8;
                display: flex;
                justify-content: center;
                align-items: center;  
                position: relative;    
                animation: light_map_shift_down 1s;
            }


/*
    ------ light menu 
    */

    .light_menu_open{
        grid-column: 1/10;
        grid-row: 7/10;
        height: 100%;
        width: 90%;
        z-index: 100;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(9,1fr);
        animation: light_menu_open_bottom_top 1s;
    }
    .light_menu_closing{
        grid-column: 1/10;
        grid-row: 7/10;
        height: 100%;
        width: 90%;
        z-index: 100;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(9,1fr);
        animation: light_menu_close_bottom_top 1s;

    }

    .button_list{
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        grid-column: 1/9;
        grid-row: 2/10;
    }

    .button_list .btn_square{
        height: 4.5rem;
        width: 50%;
    }
    .button_list .btn_square img{
        height: 100%;
    }
    .button_list .btn_square p{
        height: 100%;
    }


    

    
    
    
      
.close_menu_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .close_menu_btn img {
        top: 0;
        left: 0;
        height: 75%;
    }
    

    
}


@keyframes light_map_shift_up{
    0%{
        transform: translateY(15%);
   
     }
 
     100%{
         transform: translateY(0%);
   
     }
}

@keyframes light_map_shift_down{
    0%{
        transform: translateY(-15%);
     }
 
     100%{
         transform: translateY(0);
   
     }
}


@keyframes light_menu_open_bottom_top {
    0%{
        transform: translateY(100%);
     }
 
     100%{
         transform: translateY(0);
   
     }
}

@keyframes light_menu_close_bottom_top {
    0%{
        transform: translateY(0%);
     }
 
     100%{
         transform: translateY(100%);
   
     }
}



@keyframes light_on{
    0%{
        box-shadow: 0px 0px 25px rgb(250, 204, 1);    
    }


    50%{
        box-shadow: 0px 0px 15px rgb(250, 204, 1);   
    }


    100%{
        box-shadow: 0px 0px 25px rgb(250, 204, 1);   
    }

}





































@media only screen and (max-device-width: 550px)  and (orientation: portrait){
    .light_dashboard{
        grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;

    }
   
 

    .light_dashboard .title_info{
        font-size: xx-large;
        grid-column: 2/13;

        font-weight: 100;
    }
    


    .light_map_panel{
        position: relative;
        z-index: 100;
        grid-row: 2/8;
        grid-column: 1/13;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: scroll;
    }
 

    .light_panel{
    
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-row: auto;
        justify-items: center;
        align-items: center;
        flex-direction: column;

    }

    .light_panel .btn_square{
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(70, 70, 70);
        box-shadow: 0px 0px 10px black;
    }

    .light_panel .btn_square p{
        height: 100%;
        width: 100%;
       font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 1px;

    }
    .light_panel .btn_square .light_icon_z1, .light_icon_z2 , .light_icon_z3, .light_icon_z4, .light_icon_z5, .light_icon_z6, .light_icon_z7,
     .light_icon_z8, .light_icon_z9, .light_icon_z10, .light_icon_z11, .light_icon_z12, .light_icon_z13, .light_icon_z14, .light_icon_z15{
        top: 0;
        left: 0;
        right: 0;
        left: 0;
    }


    .light_panel_overlay{
        z-index: 300;
        grid-row: 1/9;
        grid-column: 1/13;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 10% 90%;


   
        overflow: hidden;
        backdrop-filter: blur(50px);
        border-radius: 10px;
    }

        .light_panel_overlay::before{
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(40, 40, 40);
            opacity: 0.45;
            z-index: 0;
            border-radius: 20px;
        }

        #light_panel_overlay_close{
            grid-column: 6/7;
            height: 100%;
            width: 100%;
            background-color: rgb(207, 50, 50);
            flex-direction: column;
            z-index: 2;
        }

        .panel_title{
            grid-column: 2/6;
            grid-row: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            
            text-align: center;
            width: 100%;
            height: 100%;

            z-index: 1;
        }
        .panel_title p{
            font-size: xx-large;
            font-weight: 500;
        }



        #low_light_count{
            height: 5rem;
            
        } 
        #low_light_count_single{
            height: 5rem;
            grid-column: 1/3;
            
        } 


        .panel_light_display{
            grid-column: 1/7;
            grid-row: 2/3;
            overflow: scroll;
        }

        .light_menu_title{
          display: none;
            font-size: xx-large;
            z-index: 1;
            color: white;
        }
        .button_list{
            height: fit-content;
        }
        .button_list .btn_square{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
        
        }

        .button_list .btn_square .btn_image{
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            top: -4px;
          
        }

        .button_list .btn_square p {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            font-size: x-large;
        }


}









@media only screen and (max-height: 550px) and (orientation: landscape){

    .light_dashboard .title_info{
      text-align: center;
      font-weight: 100;
      font-size: xx-large;
    }
    
  
      .light_dashboard .landscape_warning{
          grid-column: 2/12;
          grid-row: 2/9;
          z-index: 10;
   
      }
  
      .climate_dashboard_container{
          display: none;
      }
  
  }
  