.rooms_dashboard{
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;
  
}

.title_info{
    grid-row: 1;
    grid-column: 2/13;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 3.75rem;
    font-weight: bold;
    color: rgb(50, 50, 50);
    animation: room_selection 1000ms;
}

.back_button{
    animation: room_selection 1000ms;
}



/* Room selection tiles*/

.room_selection_options{
    grid-column: 2/13;
    grid-row: 2/9;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    gap: 10px;
   
    border-radius: 10px;

   

}


.room_card{
    animation: room_selection 1000ms;
    height: 15rem;
    width: 15rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    justify-items: center;
    align-items: center;
    background-color: rgb(70, 70, 70, .65);
    text-decoration: none;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    box-shadow: 
    -3px -3px 5px #5a5656, 
    3px 3px 10px #ffffff8f;
 
  }
    .test{
        grid-column: 1/4;
        grid-row: 1/4;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .room_card p{
        font-size: 2rem;
        grid-column: 1/4;
        grid-row: 2/3;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 80%;
        border-bottom:solid 1px gray ;
        font-size: 1.25rem;
    }

    .icon_preview{
        grid-column: 1/4;
        grid-row: 3/4;

        gap: .5rem;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 100%;

       
    }
        .icon_preview{
            filter: invert(1);
        }














 /* Animation */
 
 @keyframes tile-load {

    0%{

    
        opacity: 0;
    }

    100%{

        opacity: 1;


    }

}     

          




@keyframes room_selection1 {

    0%{
        transform: translateX(-100%);
        opacity: 0;
    }


    100%{
        transform: translateX(0%);
        opacity: 1;
    }

}


@keyframes room_selection {

    0%{
        opacity: 0;
        
    }


    100%{
        
         opacity: 5;
    }

}



@media only screen and (max-device-width: 430px) and (max-device-width: 837px) and (orientation: portrait){
    .rooms_dashboard{
        grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;
    }
.rooms_dashboard .title_info{
    font-size: x-large;
    grid-column: 2/12;

}

    .mobile_back_btn{
        display: contents;
    }
   


 /*
    ------------------------------------------- Nav
 */   
.nav_container{
    grid-column: 1/13;
    grid-row: 8;

    display: flex;
   
}

.nav_clock{
    display: none;
}

.back_button{
    display: none;
}
.mobile_back_btn .back_button{
    display: block;
}
.nav{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
    .nav p{
        font-size: medium;
    }


/*
---------------------------------------------- Cards
*/
.room_selection_options{
    grid-column: 1/13;
    grid-row: 2/8;
}
.room_card{
    height: 10rem;
    width: 11rem;
}
    .room_card .room_name{
        font-size: 1.1rem;
    }



}





/*
----------------------------------------- iphone 14
*/

@media only screen and (max-device-width: 390px) and (max-device-width: 763px) and (orientation: portrait){
    .room_card{
        height: 10rem;
        width: 10.75rem;
    }
}


@media only screen and (max-device-width: 375px) and (orientation: portrait){
    
    .room_card{
        height: 10rem;
        width: 9.5rem;
    }
}



@media only screen and (max-device-height: 430px) and  (orientation: landscape){

    .rooms_dashboard .title_info{
        font-size: x-large;
    }
    .room_card{
        height: 40%;
        width: 20%;
    }

    .nav_clock{
        display: none;
    }
    .nav{
        grid-row:2/10;
        justify-content: center;
        height: 100%;
    }

    .btn_not_selected p {
        font-size: medium;
    }
    .btn_selected p{
        font-size: medium;
    }

    .btn_selected {
        height: 3rem;
        width: 3.75rem;
        border-radius: 10px;
        animation: none;
    }
    .btn_not_selected{
        height: 3rem;
        width: 4rem;
    }
    .back_button{
        height: 3rem;
        width: 4rem;
        border-radius: 20px;
        border: solid 1px black
    }

    
  

  

    .room_card p{
        font-size: medium;
    }
}