.rooms_dashboard{
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: start;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;
  
}

.title_info{
    grid-row: 1;
    grid-column: 2/13;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 3.75rem;
    font-weight: bold;
    color: rgb(50, 50, 50);
    animation: room_selection 1000ms;
}



/* Room selection tiles*/

.room_selection_options{
    grid-column: 2/13;
    grid-row: 2/9;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    gap: 10px;
   
    border-radius: 10px;

   

}


.room_card{
    animation: room_selection 1000ms;
    height: 15rem;
    width: 15rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    justify-items: center;
    align-items: center;
    background-color: rgb(70, 70, 70, .65);
    text-decoration: none;
    backdrop-filter: blur(25px);
    border-radius: 5px;
    box-shadow: 
    -3px -3px 5px #5a5656, 
    3px 3px 10px #ffffff8f;
 
  }
    .test{
        grid-column: 1/4;
        grid-row: 1/4;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .room_card p{
        font-size: 2rem;
        grid-column: 1/4;
        grid-row: 2/3;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 80%;
        border-bottom:solid 1px gray ;
        font-size: 1.25rem;
    }

    .icon_preview{
        grid-column: 1/4;
        grid-row: 3/4;

        gap: .5rem;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 100%;

       
    }
        .icon_preview{
            filter: invert(1);
        }














 /* Animation */
 
 @keyframes tile-load {

    0%{

    
        opacity: 0;
    }

    100%{

        opacity: 1;


    }

}     

          




@keyframes room_selection1 {

    0%{
        transform: translateX(-100%);
        opacity: 0;
    }


    100%{
        transform: translateX(0%);
        opacity: 1;
    }

}


@keyframes room_selection {

    0%{
        opacity: 0;
        
    }


    100%{
        
         opacity: 5;
    }

}



@media only screen and (max-width: 550px)  and (orientation: portrait){
    .rooms_dashboard{
        grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;
    }
.rooms_dashboard .title_info{
    font-size: x-large;
    grid-column: 2/12;

}

    .mobile_back_btn{
        display: contents;
    }
   


 /*
    ------------------------------------------- Nav
 */   
.nav_container{
    grid-column: 1/13;
    grid-row: 8;

    display: flex;
   
}

.nav_clock{
    display: none;
}


.mobile_back_btn .back_button{
    display: flex;
}
.nav{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
    .nav p{
        font-size: medium;
    }


/*
---------------------------------------------- Cards
*/
.room_selection_options{

    grid-column: 2/12;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 25%;
    width: 100%;
    height: 90%;
    justify-items: center;
  
}
.room_card{
    height: 100%;
    width: 100%
}
    .room_card .room_name{
        font-size: large;
    }



}





/*
----------------------------------------- iphone 14


@media only screen and (max-device-width: 390px) and (max-device-width: 763px) and (orientation: portrait){
    .room_card{
        height: 10rem;
        width: 10.75rem;
    }
}


@media only screen and (max-device-width: 375px) and (orientation: portrait){
    
    .room_card{
        height: 10rem;
        width: 9.5rem;
    }
}







*/

@media only screen and (max-height: 550px) and (orientation: landscape){

    .room_card{
      display: none;
    }

    .nav_clock{
        display: none;
    }
    .nav{
        display: none;
    }
    .nav_container{
        backdrop-filter: none;
    }
    .nav_container::before{
        background-color: transparent;
    }

    .title_info{
        grid-column: 2/12;

        text-align: center;
        font-weight: 100;
        font-size: xx-large;
    }

    .rooms_dashboard .landscape_warning{
        grid-column: 2/12;
        grid-row: 2/9;
        z-index: 10;
 
    }
}



@media only screen and (min-width: 776px) and (orientation: portrait){
    .rooms_dashboard{
    grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 6%;
    }

    .room_selection_options{
        grid-column: 1/13;
        grid-row: 2/8;
    }
  }
