.security_dashboard{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    max-height: 100vh; 
    max-width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;
}
    .security_dashboard .title_info{
        grid-column: 2/13;
    }



.security_keypad_container{
    grid-column: 5/10;
    grid-row: 2/9;
    height: 90%;
    width: 90%;
    background-size: 400% 400%;

    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
    border: double .5rem transparent;
    border-radius: 1.25rem;

    background-origin: border-box;
    background-clip: content-box, border-box;


     
}
    #green_ready{
        background-image: linear-gradient(rgb(36, 35, 35), #ffffff), 
        linear-gradient(to right, green, rgb(0, 0, 0));
    }

    #yellow_stay{
        background-image: linear-gradient(rgb(165, 164, 164), #ffffff), 
        linear-gradient(to right, #FFF200 , #f5e8a3, #c5be34 , #f5e8a3 );
    }
    
    #red_armed{
        background-image: linear-gradient(black, #ffffff), 
        linear-gradient(to right, #ff0000 , #e27b7b, #b4170c , #e4563d );
    }





.security_keypad_inner_contianer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    position: relative;
  
}

.feedback_viewer{
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(70,70,70);
  
}
    .feedback_viewer h1{
        width: 92%;
        height: 75%;
        border-radius: 10px;
        font-weight: 100;
        border:solid 3px rgb(255, 255, 255);

        display: flex;
        justify-content: center;
        align-items: center;
    }
.keypad{
    grid-row: 2/6;
    grid-column: 1;

    display: grid;
    height: 100%;
    width: 100%;

    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);    
    grid-template-rows: repeat(4,1fr);   
}
    .keypad .btn_circle{
        border-radius: 10px;
        height: 6rem;
        width: 8.25rem;
        background-color: rgb(70, 70, 70);
    }
        .keypad .btn_circle:active{
            background-color: rgb(60, 103, 158);
        }
        #btn_active_red:active{
            background-color: rgb(201, 30, 30);

        }
        
        .keypad button .num{
            font-size: 2.5rem;
            font-weight: bold;
            color: rgb(255, 255, 255);

        }
           


    .control_container{
        grid-column:3/5;
        grid-row: 3/9;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 90%;
    }
        .control_container .btn_circle{
            height: 5.5rem;
            width: 5.5rem;
        }
        .control_container .btn_circle p{
            text-align: center;
        }


 /*
        ------------------------------- short nav 
    */

    .security_dashboard .nav_container{
        grid-row: 1/2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }










    
    @media only screen and (max-device-width: 430px) and (max-device-width: 837px) and (orientation: portrait){
       
        .security_dashboard .nav_container{
            display: none;
        }

   
        
        .security_dashboard .title_info{
            font-size: 1.75rem;
            grid-column: 2/12;
            bottom: 0;
            position: relative;
            bottom: 1.25rem;
        
        }

        .security_keypad_container{
            grid-column: 1/13;
            grid-row: 3/8;
            width: 90%;
            height: 100%;
        }

       

        .keypad .btn_circle{
            height: 5rem;
            width: 6rem;
        }
        
        .control_container{
            grid-column: 1/13;
            grid-row: 8;
            flex-direction: row;
            position: relative;
            top: 10px;
        }
            .control_container .btn_circle{
                height: 4.75rem;
                width: 4.75rem;
            }
    
    
    
    
    }