.security_dashboard{
 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    height: 100vh; 
    width: 100vw;  
    box-sizing: border-box; 
    padding: 1rem;

    z-index: 10;

    animation: controller-load 1s;
}
    .security_dashboard .title_info{
        grid-column: 2/12;
    }





.security_keypad_container{
    grid-column: 4/10;
    grid-row: 3/9;
    height: 100%;
    width: 80%;

    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
    border: double .5rem transparent;
    border-radius: 1.25rem;

   background-color: rgb(70, 70, 70, .75);
   backdrop-filter: blur(30px);

     
}
    #green_ready{
       background-color:  linear-gradient(to right, green, rgb(0, 0, 0));
    }

    #yellow_stay{
       background-color:  linear-gradient(to right, #FFF200 , #f5e8a3, #c5be34 , #f5e8a3 );
    }
    
    #red_armed{
    background-color: linear-gradient (to right, #ff0000 , #e27b7b, #b4170c , #e4563d );
    }





.security_keypad_inner_contianer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    position: relative;
  
}

.feedback_viewer{
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(70,70,70);
  
}
    .feedback_viewer h1{
        width: 92%;
        height: 75%;
        border-radius: 10px;
        font-weight: 100;
        border:solid 3px rgb(255, 255, 255);

        display: flex;
        justify-content: center;
        align-items: center;
    }
.keypad{
    grid-row: 2/6;
    grid-column: 1;

    display: grid;
    height: 100%;
    width: 100%;

    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);    
    grid-template-rows: repeat(4,1fr);   
}
    .keypad .btn_circle{
        border-radius: 10px;
        height: 6rem;
        width: 8.25rem;
        background-color: rgb(70, 70, 70);
    }
        .keypad .btn_circle:active{
            background-color: rgb(60, 103, 158);
        }
        #btn_active_red:active{
            background-color: rgb(201, 30, 30);

        }
        
        .keypad button .num{
            font-size: 2.5rem;
            font-weight: bold;
            color: rgb(255, 255, 255);

        }
           


    .control_container{
        grid-column:3/4;
        grid-row: 3/9;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        height: 90%;
    }
        .control_container .btn_circle{
            height: 5.5rem;
            width: 5.5rem;
        }
        .control_container .btn_circle p{
            text-align: center;
            font-size: large;
        }

    .security_dashboard .light_indicator .btn_square_wide{
        background-color: gray;
        font-size: larger;
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        pointer-events: none;
        cursor: not-allowed;
        box-shadow: none;

    }

    .light_indicator_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%; 
        gap: 10px;   
    }
    .light_indicator_container p {
        font-size: larger;
        color: black;
        font-weight: bold;
    }
    

    .security_dashboard .light_indicator #active_btn_ready{
        background-color: rgb(8, 179, 8);
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        border: solid 2px rgb(255, 255, 255)
     }

     .security_dashboard .light_indicator #active_btn_stay{
        background-color: rgb(179, 176, 8);
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        border: solid 2px rgb(255, 255, 255)
    }

     .security_dashboard .light_indicator #active_btn_armed{
        background-color: rgb(213, 10, 10);
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        border: solid 2px rgb(255, 255, 255)
     }


     .security_dashboard .light_indicator #not_active_ind{
       
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        border: solid 2px black
     }
   

 /*
        ------------------------------- short nav 
    */

    .security_dashboard .nav_container{
        grid-row: 1/2;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        backdrop-filter: blur(0px);
    }

    .security_dashboard .nav_container:before{
        background-color: transparent;
    }





    /*
    --------------------------------------------------------- light_indicator
    */

    .light_indicator{
        grid-column: 4/10;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }





    /*
    -------------------------------------- security zone 
    */
    .security_zones_title{
        grid-column: 10/13;
        grid-row: 2/3;
        text-align: center;
        border-bottom: solid 1px black;
        width: 70%;

    }
    .security_zones_title h2{
        color: black;

    }
    .security_zones{
        overflow-y: scroll;
        z-index: 10;
        grid-column: 10/13;
        grid-row: 3/9;
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        flex-direction: row;
        overflow: scroll;
        flex-wrap: wrap;
        
      

        gap: .5rem;
    }   
    
    .security_zone_card{
     
     
        height: 5rem;
        width: 100%;
        border-radius: 4rem;
   
        background-color: rgb(70,70,70);
      

        display: flex;
        justify-content: space-evenly;
        align-items: center;
      
    

    }


    
    @media only screen and (max-device-width: 430px) and (orientation: portrait){

        .security_zones, .security_zones_title{
            display: none;
        }

        .light_indicator_container{
            width: 33%;
        }
       
        .security_dashboard .nav_container{
            display: none;
        }

        .security_dashboard{
            grid-template-rows: 6% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            overflow: hidden;

        }

        .light_indicator{

        }
   
        
        .security_dashboard .title_info{
            font-size: x-large;
            grid-column: 2/12;
        
        }

        .security_keypad_container{
            grid-column: 1/13;
            grid-row: 3/8;
            width: 90%;
            height: 100%;
        }

       

        .keypad .btn_circle{
            height: 5rem;
            width: 6rem;
        }
        
        .control_container{
            grid-column: 1/13;
            grid-row: 8;
            flex-direction: row;
            position: relative;
            top: 10px;
        }
            .control_container .btn_circle{
                height: 4.75rem;
                width: 4.75rem;
            }


            .light_indicator{
                grid-column: 1/13;
                gap: 10px;
            }
    
            .control_container .btn_circle{
                grid-column: 1/13;
                height: 4rem;
                width: 5.75rem;
                border-radius: 10px;   
            }          
            .control_container .btn_circle p{ 
                font-size: large;
            }
    

            .nav_container{
                display: none;
            }
    
    
    }






    @media only screen and (max-device-width: 390px) and (max-device-height: 763px) and (orientation: portrait){
    
      .control_container .btn_circle{
        width: 5rem;  
    }






    #active_btn_sec{
        background-color: rgb(39, 109, 171);
    }

    #active_btn_ready{
        background-color: rgb(8, 179, 8);
    }
    #active_btn_stay{
        background-color: rgb(179, 176, 8);
    }
    #active_btn_armed{
        background-color: rgb(213, 10, 10);
    }
}