p{

    margin: 0%;
    padding: 0%;
    color: rgb(255, 255, 255);
}

.clock {
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    left: 10px;
}

.date_text {

    font-size: 1.15rem;
    color: white;
    text-align: center;
    margin: 0%;
    
}



.date-info .clock{
    font-size: 2rem;
    font-weight: normal;
    color: white;

}

.period{
    font-size: small;
    margin: 0%;
}


