/*Gobal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@font-face {
    font-family: 'Chillax-Extralight';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Extralight.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Extralight.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Light';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Regular';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Medium';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Medium.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Medium.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Semibold';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Semibold.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Semibold.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Bold';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 700.0;
  *
  * available axes:
  'wght' (range from 200.0 to 700.0
  */
  @font-face {
    font-family: 'Chillax-Variable';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  

 
  


body {
    margin: 0%;
    height: 100vh;
    width: 100%;
    background-image: url('../images/backgrounds/sumner-mahaffey-7Y0NshQLohk-unsplash.jpg');
    /*
    background-image: url("../images/backgrounds/(s) og.jpg") ;
    
    
    overflow: hidden;
    background-image: url("../images/backgrounds/apple-art-2a-2x1.webp");
    background-image: url("../images/backgrounds/manhattan-beach-1920-1080.webp");  */
    background-repeat: no-repeat;
    background-size:cover;    
    background-color: #c2c2c2;
   
    -webkit-tap-highlight-color:transparent;

  }
  
    h1, h2, h3, h4, h5, h6 {
        font-style: normal;
        color:rgba(255, 255, 255);
        font-family: 'Chillax-Medium';
    }
        p {  
            font-family: 'Chillax-Regular';
            font-style: normal;
        }


      
  /*logic redenering*/
  .display_none{
    display: none;
  }

  /*Card*/



  /*Common buttons*/
  /*
  ------------------------------------------------------------------------------- used for BACK, HOME and POWER buttons 
  */
  .back_button{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 4rem;
    height: 3rem;


    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: transparent;
    border-radius: 100%;

    border: solid 2px black;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 11px 11px 21px #bebebe,
                inset -11px -11px 21px #ffffff;

  }
    .back_button img{
      height: 75%;
    }

  .home_button{
    grid-column: 12/13;
    grid-row: 1/2;
    width: 4rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: transparent;
    border-radius: 100%;

    border: solid 2px black;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 11px 11px 21px #bebebe,
                inset -11px -11px 21px #ffffff;

  }
    .home_button img{
      height: 75%;
    } 

   
    







  .btn_square_border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 5rem;
    background-color: #171717;
    border-radius: 5px;
  
  }

  .btn_square , .btn_square_wide{
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #c7c3c0;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
      #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn_square:active{
      box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #c7c3c0 -3.2px -3.2px 8px 0px inset;
  }


  .btn_square_wide{
    width: 7.5rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
  }
  
  
  .btn_square_wide:active{
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  } 





  


  .btn_circle {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #3f3c3c;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 10px 15px,
      #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -1.5px -1.5px 2px 0px inset;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

    .btn_circle:active{
        box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #c7c3c0 -3.2px -3.2px 8px 0px inset;
        background-color: rgb(67, 189, 230);
    }

      .btn_circle p{
        font-size: medium;
      }
        .btn_circle .key_num{
          font-size: 1.75rem;
        }


  .small_btn_circle{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
    border: solid 1px black;
    background-color: #3f3c3c;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 10px 15px,
      #ffffff .75px .75px .5px 0px inset, #c7c3c0 -.75px -.75px .75px 0px inset;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }  
    .small_btn_circle:active{
      box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #c7c3c0 -3.2px -3.2px 8px 0px inset;
    }

  .btn_image{
    filter: invert(1);
    height: 50%;
  }




#flip{

  transform: rotate(180deg);
}



  /************Use across all transport buttons ********/
.transport_button{
  border-radius: 50%;
  height: 5rem;
  width:  5rem;
  background-color: rgb(41,41,41);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(30, 30, 30) 0px 20px 30px -10px;
  
}

.transport_button:active{
  background-color: rgb(59, 117, 136);
}

.transport_button img{
  filter: invert(78%) sepia(56%) saturate(7%) hue-rotate(314deg) brightness(106%) contrast(87%);
  height: 60px
}

#transport_hide{
  background-color: transparent;
  border: none;
  box-shadow: none;
  animation: none;
}
#transport_flip{
  transform: rotate(180deg);
}

#transport_flip:active{
  animation: ripple_flipped_icons;
  animation-duration:1250ms;
}




.btn_circle_border:active{
  background-color: transparent;
  user-select: none;
}






/*
-------------------------- CHanging svg color to white 

*/

#svg_white{
  filter: invert(208%) sepia(56%) saturate(7%) hue-rotate(314deg) brightness(306%) contrast(87%);
}

#svg_gray{
  filter: invert(208%) sepia(56%) saturate(7%) hue-rotate(314deg) brightness(306%) contrast(87%);

}