/*Gobal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@font-face {
    font-family: 'Chillax-Extralight';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Extralight.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Extralight.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Light';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Regular';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Medium';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Medium.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Medium.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Semibold';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Semibold.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Semibold.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Chillax-Bold';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 700.0;
  *
  * available axes:
  'wght' (range from 200.0 to 700.0
  */
  @font-face {
    font-family: 'Chillax-Variable';
    src: url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.woff2') format('woff2'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.woff') format('woff'),
         url('../css/Chillax_Complete//Chillax_Complete/Fonts/WEB/fonts/Chillax-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }
  

 
  


body {
    margin: 0%;
    height: 100vh;
    width: 100%;
   
    background-image: url('../images/backgrounds/the-cleveland-museum-of-art-xylbmpHmZhM-unsplash.jpg');


     /*
      background-image: url('../images/backgrounds/laurianne-huggins-AeT8VR7qss0-unsplash.jpg');
      background-image: url('../images/backgrounds/mostafa-meraji-fUex6n_txNw-unsplash.jpg');
      background-image: url('../images/backgrounds/pawel-czerwinski-bN8UPda2xFY-unsplash.jpg');
      background-image: url('../images/backgrounds/alan-scales-1_WMZARl81c-unsplash.jpg');
      background-image: url('../images/backgrounds/birmingham-museums-trust-g-DSjyFFcXE-unsplash.jpg');
      background-image: url('../images/backgrounds/the-cleveland-museum-of-art-xylbmpHmZhM-unsplash.jpg');

    
    
    overflow: hidden;
    */
    background-repeat: no-repeat;
    background-size:cover;    
    background-color: #dbdbdb;
    -webkit-tap-highlight-color:transparent;

  }
  
    h1, h2, h3, h4, h5, h6 {
        font-style: 100;
        color:rgba(255, 255, 255);
        font-family: 'Chillax-Medium';
      }
        p {  
            font-family: 'Chillax-Regular';
            font-style: normal;
        }


      
  /*logic redenering*/
  .display_none{
    display: none;
  }
  #display_none{
    display: none;
  }

  /*Card*/



  /*Common buttons*/
  /*
  ------------------------------------------------------------------------------- used for BACK, HOME and POWER buttons 
  */
  .back_button{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 4.25rem;
    height: 3rem;


    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: transparent;

    border: none;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: inset 2px 5px 6px #bebebe,
                inset -5px -5px 6px #ffffff;
 

  }
    .back_button img{
      height: 75%;
    }


 
  .home_button{
    grid-column: 12/13;
    grid-row: 1/2;
    width: 4.25rem;
    height: 3rem;


    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: transparent;
    border-radius: 100%;

   
    border-radius: 15px;
    background: #ffffff;
  ;
    box-shadow: inset 2px 5px 6px #bebebe,
                inset -5px -5px 6px #ffffff;
    border: none;

  }
    .home_button img{
      height: 75%;
    } 

    .title_info{
      font-size: x-large;
      grid-column: 2/13;
  
  }
    




/*
------------------------------------- nav selection 
*/


  .btn_square_border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 5rem;
    background-color: #171717;
    border-radius: 5px;
  
  }

  .btn_square , .btn_square_wide{
    z-index: 1;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #c7c3c0;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px;
    cursor: pointer;
    font-family: Montserrat;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn_square:active{
      box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #c7c3c0 -3.2px -3.2px 8px 0px inset;
  }




/*
------------------------------------- used on volume control
*/

  .btn_square_wide{
    z-index: 1;
    width: 7.5rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
  }
  
  
  .btn_square_wide:active{
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
    background-color: rgb(94, 198, 233);
  } 


  .btn_square:active{
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
    background-color: rgb(94, 198, 233);
  } 





  



  /*
  ----------------------------------------------------- Used for transport and light btns
  */
  .btn_circle {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #3f3c3c;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 10px 15px,
      #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -1.5px -1.5px 2px 0px inset;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .btn_circle_active{
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #b9b9b9;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 10px 15px,
      #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -1.5px -1.5px 2px 0px inset;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  
  }

    .btn_circle:active{
        box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
        #c7c3c0 -3.2px -3.2px 8px 0px inset;
        background-color: rgb(67, 189, 230);
    }

    .btn_circle_active:active{
      box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #c7c3c0 -3.2px -3.2px 8px 0px inset;
      background-color: rgb(67, 189, 230);
  }

      .btn_circle p{
        font-size: medium;
      }
        .btn_circle .key_num{
          font-size: 1.75rem;
        }
          .btn_image{
            filter: invert(1);
            height: 50%;
          }



   
  #light_btn_off{
    background-color: rgb(204, 80, 80);
    pointer-events: none;
    cursor: not-allowed; /* For devices with a cursor */
  }     
    
  #light_btn_on{
    background-color: rgb(252 , 234, 187);

    pointer-events: none;
    cursor: not-allowed; /* For devices with a cursor */
  }
  #light_btn_on img{
    filter: invert(0);
  }
  #light_btn_off img{
    filter: invert(0);
    height: 60%;
  }

 #btn_off img{
  height: 60%;
 }
  /*
  ------------------------------------------------------------ used on dvr RGYB
  */

  .small_btn_circle{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
    border: solid 1px black;
    background-color: #3f3c3c;
    box-shadow: rgba(0, 0, 0, 0.377) 5px 10px 15px,
      #ffffff .75px .75px .5px 0px inset, #c7c3c0 -.75px -.75px .75px 0px inset;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }  
    .small_btn_circle:active{
      box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
      #c7c3c0 -3.2px -3.2px 8px 0px inset;
    }







#flip{
  transform: rotate(180deg);
}

#transport_hide{
  background-color: transparent;
  border: none;
  box-shadow: none;  
}








/*
-------------------------- CHanging svg color to white 

*/

#svg_white{
  filter: invert(208%) sepia(56%) saturate(7%) hue-rotate(314deg) brightness(306%) contrast(87%);
}

#svg_gray{
  filter: invert(208%) sepia(56%) saturate(7%) hue-rotate(314deg) brightness(306%) contrast(87%);

}


/*
---------------------------------------------------------- nav 
*/


.nav_container{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: transparent;
  grid-row: 1/9;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
  animation: room_selection 1000ms;
  backdrop-filter: blur(15px);
  position: relative;
  z-index: 1;
}
  a{
    z-index: 1;
  }
  .nav{
    z-index: 1;
      grid-row: 2/9;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;   
      gap: 1.75rem;
  }
      .nav .btn_square{
          height: 5rem;
          border-radius: 15px;
          width: 85%;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(90px);
      }
          .nav .btn_square p{
              font-weight: bold;
              color: rgb(0, 0, 0); 
              font-size: 1rem;
              
          }
              
  
.nav_clock{
  z-index: 1;
  grid-row: 9/10;   
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}
  .nav_clock .clock{
    z-index: 1;
      font-size: 1rem;
      padding: 0%;
      left: 0px;
      color: black;
    
  }


  .nav_container::before{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0.3250;
    z-index: 0;
    border-radius: 20px;
}


.card_glow{

}





/* active selection of floor button*/
 

  .btn_not_selected{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 100%;
      border: none;
      font-size: large;
      
  }
  .btn_selected{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    animation: glow 2.5s ease-in-out infinite alternate;
    font-size: large;
  }
    .btn_selected p{
      color: rgb(255, 255, 255);
      
    }
    .btn_not_selected p{
      color: rgb(0, 0, 0);
      font-weight: 600;

    }

    .btn_selected img{
      filter: invert(1);      
    }




 

    @keyframes glow {
      from{
        background-color: rgb(70, 70, 70);
       
      } to {
        background-color: rgba(70, 70, 70, 0.65);
  
      }
    }







    /*
    --------------------------------------------- mobile 
    */

    .mobile_back_btn{
      display: none;
    }
    #mobile_power_btn{
      display: none;
    }
    #mobile_home_btn{
      display: none;
    }
    @media only screen and (max-device-width: 430px) and (max-device-width: 837px) and (orientation: portrait){
      .title_info{
          font-size: x-large;
          grid-column: 2/12;
      
      }


      /*
      ---------------------------------------------------------------- mobile controls
      */

      .btn_circle{
        width: 3.25rem;
        height: 3.25rem;
      }

    


      
    }