/***** iF media_off is active, the controller should not display  *******/

.media_off#direct_controller{
    display: none;
}
.mobile_nav{
    display: none;
}


#direct_controller_mobile{
    display: none;
}
/***** Start of controller CSS *******/

#direct_controller{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    align-items: center;
}









.dtv_controller_controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 95%;
}

    .controller_nav{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

        .controller_nav_0,.controller_nav_1,.controller_nav_2,.controller_nav_3 {
            background-color: transparent;
            border: none;
            height: 4rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .controller_nav_0_selected, .controller_nav_1_selected,.controller_nav_2_selected,.controller_nav_3_selected {
                background-color: transparent;
                border: none;
                height: 4rem;
                width: 5rem;
                z-index: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                filter: invert(78%) sepia(56%) saturate(7%) hue-rotate(314deg) brightness(150%) contrast(120%);       
                border-bottom: solid 4px rgb(0, 0, 0);         
            }
    
                .controller_nav_0 img, 
                .controller_nav_1 img, 
                .controller_nav_2 img,
                .controller_nav_3 img,
                .controller_nav_0_selected img {
                    height: 100%;
                    filter: invert(9%) sepia(84%) saturate(0%) hue-rotate(247deg) brightness(87%) contrast(84%);
                    z-index: 0; 
                   
                }
                .controller_nav_0 img, 
                .controller_nav_1 img, 
                .controller_nav_2 img,
                .controller_nav_3 img,
                .controller_nav_1_selected img {
                    height: 100%;
                    filter: invert(9%) sepia(84%) saturate(0%) hue-rotate(247deg) brightness(87%) contrast(84%);
                    z-index: 0; 
                }
                    .controller_nav_0 img, 
                    .controller_nav_1 img, 
                    .controller_nav_2 img,
                    .controller_nav_3 img,
                    .controller_nav_2_selected img {
                        height: 100%;
                        filter: invert(9%) sepia(84%) saturate(0%) hue-rotate(247deg) brightness(87%) contrast(84%);
                        z-index: 0
                    }
                         .controller_nav_0 img, 
                        .controller_nav_1 img, 
                        .controller_nav_2 img,
                        .controller_nav_3 img,
                        .controller_nav_3_selected img {
                            height: 100%;
                            filter: invert(9%) sepia(84%) saturate(0%) hue-rotate(247deg) brightness(87%) contrast(84%);
                            z-index: 0
                        }
   
           


        .show_option_1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 20px;
            box-shadow: rgb(30, 30, 30) 0px 20px 30px -10px;
        }

        .show_option_2{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 20px;
            box-shadow: rgb(30, 30, 30) 0px 20px 30px -10px;
        } 
            .show_option_2 .rgyb{
                grid-row: 4;
                grid-column: 1/4;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 90%;
                height: 90%;
                z-index: 1;
            }
                .show_option_2 .rgyb button{
                    height: 45px;
                    width: 45px;
                    border-radius: 100%;
                    border: none;
                }

                .show_option_2 .rgyb button:active{
                    animation: highlight_white_background_controller 100ms;                }
                    .red{
                        background-color: #e22e25;
                    }
                       
                    .green{
                        background-color: #12bd12;
                    }
                    .yellow{
                        background-color: #dada1b;
                    }
                    .blue{
                        background-color: #5bb9c6;
                    }

        .show_option_3{
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(12, 1fr);
            justify-items: center;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            border-radius: 20px;
            box-shadow: rgb(30, 30, 30) 0px 20px 30px -10px;        }






.dtv_controller_controls_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 95%;
}

.dtv_controller_controls_2 .show_option_1{
    grid-template-rows: repeat(3,1fr);
}
    .show_option_1 .transport_button{
        height: 4.25rem;
        width: 4.25rem;
    }

    .show_option_1 .transport_button .key_num{
        font-size: 1.75rem;
    }
    .show_option_1 .transport_button p{
        font-size: large;
    }



    .show_option_2 .transport_button{
        height: 4.25rem;
        width: 4.25rem;
    }
    .show_option_2 .transport_button img{
        height: 70%;
       
    }

.channel_container{
    grid-column: 3;
    grid-row: 1/4;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

    #chan_up{
        grid-column: 3;
        grid-row: 1;
        height: 25%;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        

    }

    #chan_title{
        grid-column: 3;
        grid-row: 2;

        border-radius: 0%;
    
    }
        #chan_title:active{
            animation: none;
        }

   

    #chan_down{
        grid-column: 3;
        grid-row: 3;
        height: 25%;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }





















    #dvr_img{
        height: 80%;
        position: relative;
        bottom: 8px;
    }

    .transport_button .key_num{
        font-size: 1.5rem;
    }


.none_option{
    display: none;
}




@media screen and (min-height: 1170px) and (orientation: portrait) {
    .controller_nav img{
        height: 75%;
    }

    .controller_layout{
        width: 95%;
    }
    .controller_grid{
        margin: 0%;
    }

    .controller_layout_back_button{
        height: 40%;
    }
        .back_button_svg{
            height: 100%
        }
    

        
    #direct_controller{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
    }
        #direct_controller .transport_button{
            height: 5rem;
            width: 5rem;
        }
    .kaleidescape_controller_movement{
        grid-column: 3/5;
        grid-row:1/3;
    }

    .dtv_controller_controls{
        width: 90%;
        height: 70%;
    }
    .dtv_controller_movement .circle-menu{
        width: 300px;
    }

    .dtv_controller_controls_2{
        width: 90%;
        height: 70%;
    }


  
}


/***************** only for ipad pro**********************/

@media screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait){}

  

/**********************  Crestron Tablet *********************************/
@media screen and (max-width: 1300px) and (max-height: 950px) and (orientation: landscape){}

   
@media screen and (max-width: 950px) and (max-height: 1300px) and (orientation: portrait){}

   

/**********************  Ipad Screen specs *********************************/
@media screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape){}

    
@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait){}

     






   


            

  
            
            
         
            
               

  #hide_current_source{
    display: none;
  }









  @keyframes app-load-reverse {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
  }





  @media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait){
    .controller_nav{
        position: relative;
        bottom: 20px;
    }
   
    
#direct_controller_mobile{
    display: block;
}

    .controller_nav{
        height: 6%;
    } 
    .controller_nav img{
        height: 50%;
    }
  
    #dvr_img{
        position: relative;
        bottom: 8px;
    }
    
   
     
      #direct_controller{
        display: none;
      }

      .mobile_nav{
        z-index: 1;
        display: block;
        display: flex;
        justify-content: space-evenly;
        grid-column: 8/15;
        display: none;

      }
        .mobile_nav button{
            height: 3rem;
            width: 3rem;
            border-radius: 100%;
            border: none;

        }
    #direct_controller_mobile{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .direct_controller_mobile{
        height: 100%;
        width: 100%;
      }

      .dtv_controller_movement{
        height: 100%;
        width: 100%;

        display: flex;
      }
        
      .dtv_controller_controls{
        height: 100%;
        width: 100%;
      }
      .dtv_controller_controls_2{
        height: 100%;
        width: 100%;
      }





                       
      .show_option_0{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        box-shadow: rgb(30, 30, 30) 0px 20px 30px -10px;
        width: 100%;
    }         
        .show_option_0 .channel_container{
            grid-row: 1/4;
            grid-column: 3/4;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            height: 80%;
        }   
            #chan_down_mobile{
                
                border-radius: 0%;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
                #chan_down_mobile img{
                    height: 60%
                }
            #chan_title_mobile{
                height: 2.5rem;
                border-radius: 0%;
            }

            #chan_up_mobile{
               
                border-radius: 0%;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
                #chan_up_mobile img{
                    height: 60%
                }


            .show_option_0 .controller{
                grid-row: 1/4;
                grid-column: 1/3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }   
            .show_option_0 .controller_buttons{
                grid-row: 2/4;
                grid-column: 1/4;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }   

      
            .transport_button .key_num{
                font-size: 2.75rem;
            }
            .transport_button img {
                height: 55px;
            }
    
    }


