.media_off#roku_controller{
    display: none;
}


#roku_controller{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    align-items: center;

}



.rokuSideControl{

    display: grid;
    width: 70%;
    height: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;


}

.roku_controller_movement{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column


}
    .controlShortCutRoku{
       
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
    }



    @media only screen and (max-device-width: 430px) and (max-device-width: 837px) and (orientation: portrait){
    
        #roku_controller{
           height: 85%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }
    
        .mobile_controller_nav{
            justify-content: space-around;        
        }

        .roku_controller_movement{
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            gap: 1rem;
        }
    }